@using ETS.Contracts.DataContracts
@using WebSite.Models

@model IEnumerable<ApprovalModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="page-header">Approval</h4><br/>



<script type="text/javascript">
    
    window.EDIT_REPORT_URL = '@Url.Action("EditTimeReport", "TimeReports")';
    
</script>

<!--filters label-->
<div class="div-name-filters">
    <p>
        <label class="label-name-filters">Team member</label>
    </p>
    <p>
        <label class="label-name-filters">Project</label>
    </p>
    <p>
        <label class="label-name-filters">Show records from</label>
    </p>
    <p align="right">
        <label class="label-name-filters">to</label>
    </p>
    <p>
        <label class="label-name-filters">Show records for</label>
    </p>
</div>

<!--filters implement-->
<div class="div-filters">
    <p>
        <select style="height:25px">
            @foreach (ApprovalModel report in Model)
            {
                <option>@report.TeamMember</option>
            }
        </select>
    </p>
    <p>
        <select class="select" style="height:25px">
            @foreach (ApprovalModel report in Model)
            {
                <option>@report.Project </option>
            }

        </select>

    </p>
    <p>
        <input type = "date" />
    </p>
    <p>
        <input type = "date" />
    </p>
    <p>
        <select class="select" style="height:25px">
            <option>a week</option>
            <option>a month</option>
        </select>
    </p>
</div>


<div class="div-status">
    <label class="label-status">Status</label>
    <div class="div-checkbox-status">
        <input type="checkbox"> Accepted<br />
        <input type="checkbox"> Declined<br />
        <input type="checkbox"> Notified<br />
    </div>
</div>



<div>
    <table class="table">
        <tr>
            @*<th><input type="checkbox" class="checkALL"/></th>*@
            <th>Team member</th>
            <th>Project</th>
            <th>Task</th>
            <th>Effort</th>
            <th>Overtime</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Completion date</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
        </tr>


        @foreach (ApprovalModel approval in Model)
        {
            if (approval.Status != ReportStatus.Open)
            {
                 <tr>
                     @*@if (approval.Status != ReportStatus.Accepted && approval.Status != ReportStatus.Declined)
                     {
                         <td><input type="checkbox" class="timeReports" id="0" name="@approval.Id"/></td>
                     }
                     @if (approval.Status == ReportStatus.Accepted || approval.Status == ReportStatus.Declined)
                     {
                         <td><input type="checkbox" class="timeReports" disabled id="0" name="@approval.Id"/></td>
                     }*@
                     <td>@approval.TeamMember</td>
                     <td>@approval.Project</td>
                     <td>@approval.Task</td>
                     <td>@approval.Effort</td>
                     <td>@approval.Overtime</td>
                     <td>@approval.Description</td>
                     <td>@approval.StartDate.ToShortDateString()</td>
                     <td>@approval.CompletionDate.ToShortDateString()</td>
                     <td>@approval.Status</td>
                     <td>
                         @if (approval.Status == ReportStatus.Notified)
                         {
                             <input type="button" value="Accept" class="btn btn-default" onclick="location.href = '@Url.Action("Accept", "Approval", new {id = @approval.Id})'"/>
                             <input type="button" value="Decline" class="btn btn-default" onclick="location.href = '@Url.Action("Decline", "Approval", new {id = @approval.Id})'"/>
                         }
                         @if (approval.Status == ReportStatus.Accepted || approval.Status == ReportStatus.Declined)
                         {
                             <input type="button" value="Accept" disabled/>
                             <input type="button" value="Decline" disabled/>
                         }
                     </td>

                 </tr>
             }
        }
    </table>
</div>


