<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ETS")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EFFORT TIME TRACKING SYSTEM", "Index", "TimeReports", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Time Reports", "Index", "TimeReports")</li>
                    <li>@Html.ActionLink("Approval", "Index", "Approval")</li>
                    <li>@Html.ActionLink("Time effort", "Index", "TimeEffort")</li>
                    <li>@Html.ActionLink("Project Management", "Index", "ProjectManagement")</li>
                    <li>@Html.ActionLink("Help", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KHAI 611 PST</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    @* Скрипт для вывода Datepicker'a во всех браузерах *@
<script type="text/javascript">
        $(function () {
            if (!Modernizr.inputtypes.date) {
                $(function () {
                    $("input[type='date']")
                                .datepicker({ dateFormat: 'dd/mm/yy' })
                                .get(0).setAttribute("type", "text");
                });
            }
        });
    </script>
</body>
</html>
